/* Basic-Style */
*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html{text-size-adjust:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{color:#6f6f6f;font-family:'Open Sans', sans-serif;font-size:18px;line-height:1.367;-webkit-font-smoothing:antialiased;font-weight:400;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;text-decoration:none;outline:none;color:#075687;transition:all 0.2s ease-in-out 0s;-webkit-transition:all 0.2s ease-in-out 0s;-moz-transition:all 0.2s ease-in-out 0s;}
a:hover{color:#ffffff;text-decoration:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
table{border-spacing:0;border-collapse:collapse;}
td, th{padding:0;}
textarea{overflow:auto;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;}
strong, b{font-weight:600;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:block;}
.clear{clear:both;}
img{outline:none;border:none;max-width:100%;height:auto;vertical-align:middle;}
button{outline:none;border:none;}
.mob-display{display:none;}
.desktop-display{display:inline-block;}
.img-thumbnail{display:inline-block;max-width:100%;height:auto;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.img-responsive, .thumbnail > img, .thumbnail a > img{display:block;max-width:100%;height:auto;}
.img-circle{border-radius:50%;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.pull-right{float:right;}
.pull-left{float:left;}
.alignnone{height:auto;}
.alignright{float:right;margin:0.5em 0 1em 1em;}
.alignleft{float:left;margin:0 1em 1em 0;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;}
textarea{-webkit-appearance:none;border-radius:0;border:none;overflow:auto;resize:none;}
input[type="text"]{-webkit-appearance:none;border-radius:0;border:none;}
select{-webkit-appearance:none;border-radius:0;border:none;}
input:focus, textarea:focus{outline-style:none;}
input[type='submit']{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;}
@font-face{font-family:'icomoon';src:url('assets/fonts/icomoon.eot?v07f8p');src:url('assets/fonts/icomoon.eot?v07f8p#iefix') format('embedded-opentype'), url('assets/fonts/icomoon.ttf?v07f8p') format('truetype'), url('assets/fonts/icomoon.woff?v07f8p') format('woff'), url('assets/fonts/icomoon.svg?v07f8p#icomoon') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"], [class*=" icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.tab-mobile{display:none;}
.alignnone{height:auto;}
.alignright{float:right;margin:0.5em 0 1em 1em;}
.alignleft{float:left;margin:0 1em 1em 0;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;}
/**************container-table************/
.container-table{display:table;width:100%;}
.column-cell{/* display:table-cell;*/
/* height:100%;*/
/* overflow:visible;*/
/* position:relative;*/
/* vertical-align:middle;*/
}
.column-cell2:before, .column-cell2:after{border:inherit;box-sizing:content-box;content:'';display:block;height:100%;*height:100%;left:0;position:absolute;top:0;width:15px;z-index:1;}
.column-cell2:after{left:auto;right:0;}
/**************container-table end************/
/* Chrome/Opera/Safari-placeholder */
::-webkit-input-placeholder{/* Chrome/Opera/Safari */
 color:#ffffff;}
::-moz-placeholder{/* Firefox 19+ */
 color:#ffffff;}
:-ms-input-placeholder{/* IE 10+ */
 color:#ffffff;}
:-moz-placeholder{/* Firefox 18- */
 color:#ffffff;}
/* Site-Style */
h1{font-size:35px;color:#075687;line-height:45px;font-family:'Montserrat', sans-serif;text-transform:initial;font-weight:700;margin:0 0 15px;}
h2{font-size:32px;color:#075687;line-height:25px;font-family:'Righteous', cursive;margin:0 0 20px;font-weight:700;letter-spacing:3px;}
h3{font-size:18px;color:#075687;line-height:28px;font-family:'Open Sans', sans-serif;font-weight:700;margin:0 0 20px;}
.title-primary{font-size:30px;color:#075687;line-height:42px;font-family:'Righteous', cursive;text-transform:initial;font-weight:700;margin:0 0 20px;letter-spacing:2px;}
.top-title{font-size:15px;color:#fff;line-height:28px;font-family:'Righteous', cursive;text-transform:initial;font-weight:600;text-align:center;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;-moz-transition:all 0.7s ease-in-out 0s;letter-spacing:2px;}
p{font-family:'Open Sans', sans-serif;margin:0 0 30px;}
li{font-family:'Open Sans', sans-serif;margin:0;list-style:disc;}
.bg-color{background-color:#fafafa;}
.col-1{display:inline-block;height:100%;overflow:visible;position:relative;vertical-align:middle;}
[class^="btn-"]{margin:.4em;padding:1em;cursor:pointer;background:#e1e1e1;text-decoration:none;color:#666;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.btn-hover:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#fff;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.btn-hover:hover{border:2px solid #fff;color:#075687 !important;}
.btn-hover:hover:before, .btn-hover:focus:before, .btn-hover:active:before{-webkit-transform:scaleY(1);transform:scaleY(1);}
.btn-hover:hover, .btn-hover:focus, .btn-hover:active{color:white;}
.btn-hover, .gform_button{background-color:transparent;background-image:none;border:2px solid #075687;color:#fff;cursor:pointer;display:inline-block;font-family:'Righteous', cursive;font-size:20px;font-weight:700;line-height:1.42857;margin:0;padding:15px 56px;text-align:center;text-decoration:none;text-transform:capitalize;transition:all 0.7s ease 0s;vertical-align:middle;white-space:nowrap;border-radius:50px;display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px transparent;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;overflow:hidden;z-index:1;}
.learn-more:after,.btn-hover:after{/* content:"\f105";*/
font-family:fontawesome;margin:0 10px;}
.learn-more{font-size:18px;line-height:28px;font-weight:700;position:relative;opacity:.4;}
.learn-more:hover{color:#075687;}
.middle-content ul,.middle-content ul,.entry-content ul, .entry-content ol{padding:0 0 10px 15px;}
@media only screen and (min-width:1025px){.top-offset{/* margin:177px 0 0;*/
}
}
.desktop-image{visibility:hidden;}
 /* Toggle-Style */
.nav-toggle{display:none;}
li.menu-mobile-logo{display:none;}
.nav-right-icon{display:none;}
.navigation .sub-menu li.close-left-icon{display:none;}
.dropdown-toggle .dropdown-toggle, .icon-angle-down, .sticky-content{display:none;}
button.dropdown-toggle ,.mobile-view,.mobile-view.call a,.mobile-display,.toggle-icon{display:none;}
.dropdown-toggle span,.mobile-logo, .team-mobile{display:none;}
.toggle-icon{cursor:pointer;height:30px;position:absolute;right:10px;top:15px;width:36px;display:none;}
 .close-toggle{float:right;height:50px;position:relative;width:36px;right:5px;top:18px;}
.hamburger-toggle{display:block;}
.hamburger-toggle .fa-bars, .hamburger-toggle .fa-bars:before, .hamburger-toggle .fa-bars:after{cursor:pointer;border-radius:1px;height:3px;width:35px;background:#075687;position:absolute;display:block;content:'';right:0;margin:0;transition:all 500ms ease-in-out;-webkit-transition:all 500ms ease-in-out;-moz-transition:all 500ms ease-in-out;-mo-transition:all 500ms ease-in-out;top:10px;}
.hamburger-toggle .fa-bars:before{top:-10px;}
.hamburger-toggle .fa-bars:after{bottom:-10px;}
.hamburger-toggle.close-toggle .fa-bars{background-color:transparent;}
.hamburger-toggle.close-toggle .fa-bars:before{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-mo-transform:rotate(45deg);top:0;bottom:0;}
.hamburger-toggle.close-toggle .fa-bars:after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-mo-transform:rotate(-45deg);top:0;bottom:0;}
 .dropdown-toggle, .icon-angle-down, .sticky-content{display:none;}
 .dropdown-toggle{color:#272727;cursor:pointer;position:absolute;right:0;top:0;margin:0;appearance:none;-webkit-appearance:none;-moz-webkit-appearance:none;background:none;border:none;z-index:1;outline:none;width:26px;}
.dropdown-toggle span{display:none;}
.dropdown-toggle:after{position:relative;content:"\f105";display:inline-block;font-family:FontAwesome;font-size:30px;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transition:all 500ms ease-in-out 0s;-webkit-transition:all 500ms ease-in-out 0s;-moz-transition:all 500ms ease-in-out 0s;}
.dropdown-toggle.toggled-on:after{transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);}
.sticky-content:before, .sticky-content:after{content:" ";display:table;clear:both;}
/* Slick-Slider-Style */
.slick-slide img{margin:0 auto;}
.slick-prev::before ,.slick-next::before{font-family:fontawesome;color:#075687;font-size:40px;opacity:1;}
.slick-prev::before{content:"\f104";font-family:fontawesome;}
.blog-section .slick-prev{right:0;left:auto;}
.slick-prev, .slick-next{height:50px;width:20px;z-index:2;}
.slick-next::before{content:"\f105";}
.slick-dots li button::before, .slick-dots li button::before{color:transparent;opacity:1;border:1px solid #ffffff;border-radius:50%;background:#075687;}
.slick-dots li.slick-active button:before{border:1px solid #fff;}
.slick-dots li.slick-active button:before{opacity:1;background:#ffffff;color:transparent;}
.slick-dots li{margin:0 !important;}
.slick-dots li button:before{width:15px !important;height:15px !important;}
.slick-dots{bottom:-50px;}
.slick-dots{padding:0 !important;}
/*ms-scroller-section-Style */
.inner-scroll{height:660px;overflow:auto;margin-right:-30px;}
.mCSB_scrollTools{opacity:1 !important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:8px;border-radius:4px;opacity:1 !important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#eeaf40 !important;opacity:1 !important;}
/*Header-Style */
.header-wrapper{position:fixed;top:0;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;-moz-transition:all 0.7s ease-in-out 0s;width:100%;z-index:1000;}
header.header-wrapper.fixed{box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.19);-webkit-box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.19);-moz-box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.19);}
/*Naviagtion-Style */
.navigation{display:table;width:100%;}
.header-wrapper .column-cell{/* float:none;*/
 /* vertical-align:middle;*/
 /* position:relative;*/
 }
.navigation li{display:table-cell;vertical-align:middle;margin:0;}
.navigation .menu > li > a{padding:31px 24px;transition:all ease-in-out 0.7s;-webkit-transition:all ease-in-out 0.7s;}
.navigation li a{color:#fff;font-family:'Righteous', cursive;font-size:18px;font-weight:500;line-height:29px;text-transform:uppercase;display:block;}
.header-wrapper .col-nav{padding:0;}
.nav-logo-bar{padding:5px 0;background:rgba(0, 0, 0, 0.5);transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;-moz-transition:all 0.7s ease-in-out 0s;}
@media only screen and (min-width:1200px){.navigation .sub-menu::before{border-bottom:14px solid #112a4f;border-left:15px solid rgba(0, 0, 0, 0);border-right:15px solid rgba(0, 0, 0, 0);content:"";display:inline;height:0;position:absolute;top:-12px;width:0;left:67px;}
.navigation ul li:hover > .sub-menu{opacity:1;z-index:21;visibility:visible;margin:0;}
.navigation .menu li:hover > .sub-menu{display:block;}
.navigation .menu > li:hover > a{}
.navigation .menu > li.menu-item-has-children:hover > a:after{color:#fff;}
.navigation .sub-menu{background-color:rgba(0, 48, 90,0.8);float:left;left:auto;position:absolute;top:100%;width:auto;min-width:330px;opacity:0;z-index:0;visibility:hidden;margin:30px 0 0;padding:35px 0;transition:all ease-in-out 0.7s;-webkit-transition:all ease-in-out 0.7s;text-indent:35px;}
}
.navigation .menu li{position:relative;}
.navigation .sub-menu li{display:block;}
.navigation .sub-menu a:hover{color:#ffffff;font-weight:600;}
.navigation .sub-menu a{white-space:nowrap;margin:0 0 10px;font-family:'PT Sans', sans-serif;font-size:19px;font-weight:400;text-transform:inherit;color:#fff;}
.navigation .menu .sub-menu li a{position:relative;}
.navigation .menu .sub-menu .sub-menu{left:100%;top:0;}
.header-logo img{width:230px;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;margin:0 auto;}
@media only screen and (min-width:1025px){.fixed .nav-logo-bar{transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;-moz-transition:all 0.7s ease-in-out 0s;padding:10px 0;}
.fixed .top-title{font-size:14px;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;-moz-transition:all 0.7s ease-in-out 0s;}
.fixed .header-logo{width:185px;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;}
.fixed .navigation .menu > li > a{padding:20px 24px;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;}
.navigation .menu > li:hover > a{color:#fff;}
}
.top-header{text-align:right;background:#075687;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;-moz-transition:all 0.7s ease-in-out 0s;}
.search-bar{text-align:right;}
.search-bar #wrap{margin:0;display:inline-block;position:relative;height:27px;padding:0;position:relative;vertical-align:middle;}
.search-bar input[type="text"]{height:27px;font-size:20px;display:inline-block;font-family:'Open Sans', sans-serif;font-weight:400;border:none;outline:none;color:#fff;padding:0;padding-right:30px;width:0px;position:absolute;top:0;right:0;background:none;z-index:3;transition:width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);cursor:pointer;}
.search-bar input[type="text"]:focus:hover{border-bottom:1px solid #fff;}
.search-bar input[type="text"]:focus{width:400px;z-index:1;border-bottom:1px solid #fff;cursor:text;}
.search-bar input[type="submit"]{height:27px;width:63px;display:inline-block;color:#fff;float:right;background:url(assets/images/search-icon.png) no-repeat center center;text-indent:-10000px;border:none;position:absolute;top:0;right:-18px;z-index:2;cursor:pointer;cursor:pointer;transition:opacity .4s ease;}
.search-bar #wrap input[type="text"]::-webkit-input-placeholder{color:#fff;}
.search-bar #wrap input[type="text"]::-moz-placeholder{color:#fff;}
.search-bar #wrap input[type="text"]:-ms-input-placeholder{color:#fff;}
.search-bar #wrap input[type="text"]:-moz-placeholder{color:#fff;}
.let-talk .btn-hover{background:#075687;border:none;padding:16px 51px;border:2px solid #075687;letter-spacing:2px;}
.let-talk .btn-hover:after{content:none;}
.let-talk .btn-hover:before{background:#fff;}
/*Banner-Style */
.banner-slider{overflow:hidden;}
.banner-slider.slick-initialized.slick-slider{max-height:630px;height:630px;}
.banner-img{max-height:670px;height:670px;}
.banner-inner{position:relative;}
.banner-img{background-position:center center;background-repeat:no-repeat;background-size:cover;overflow:hidden;}
.banner-img img{vertical-align:middle;visibility:hidden;display:block;height:auto;max-width:100%;width:100%;}
.banner-wrapper:after{background:rgba(0, 48, 90,0.3);height:100%;width:100%;content:"";position:absolute;top:0;left:0;}
.container-full{float:right;width:50%;background:rgba(0, 48, 90,0.8);height:100%;position:absolute;right:0px;top:0px;bottom:0px;-webkit-animation:fadeInRight 1s both 1s;animation:fadeInRight 1s both 1s;}
.banner-overlay{text-align:center;width:50%;position:relative;z-index:1;margin:0 auto;border-radius:5px;padding:20px 0;}
.banner-title{font-size:40px;line-height:50px;font-family:'Righteous', cursive;font-weight:700;margin:0 0 30px;letter-spacing:2px;color:#fff;}
@media only screen and (min-width:768px){.banner-slider .banner-overlay{-webkit-animation:fadeInRightBig 1.2s both 1s;animation:fadeInRightBig 1.2s both 1s;}
}
.scrolling-section{clear:both;position:relative;}
.scrollingArrow{display:block;position:absolute;text-align:center;z-index:99;left:0;right:0;margin:0 auto;top:-60px;}
.scrollingArrow > a{text-decoration:none;text-align:center;}
.scrollingArrow span{color:#ffffff;display:block;font-family:'Montserrat', sans-serif;font-size:18px;text-transform:uppercase;font-weight:400;line-height:30px;}
.arrrow{margin:3px 0 0;}
/*Midddle-Section-Style */
.content-section p{padding:0 100px;margin:0 0 20px;}
.overlay{background-color:;opacity:;position:absolute;left:960px;top:159px;width:960px;height:670px;z-index:239;}
.content-section{padding:75px 0 70px;}
.box-inner img{width:70px;height:70px;border-radius:50px;line-height:70px;text-align:center;}
.box-inner{background:#eaf4f6;width:18.8%;margin:0 5px;display:inline-block;vertical-align:top;box-shadow:6px 7px 10px 3px #f7e8c1, inset 2px 2px 2px 1px #fafafa, inset -2px -2px 2px 1px #f4f4f4;border-radius:8px;}
.process-inner p{font-size:18px;font-weight:400;}
.process-inner{}
.process-title{color:#075687;font-size:22px;line-height:22px;font-family:'Righteous', cursive;font-weight:700;margin:0 0 25px;}
.contact-section{background:url(assets/images/contact-bg.jpg);background-position:center;background-size:cover;position:relative;text-align:center;padding:50px 0 60px;background-repeat:no-repeat;}
.contact-section .title-primary{margin:0 0 12px;}
.process-section{padding:50px 0 40px;}
.process-box{padding:15px 0 0;}
.contact-section:before{background:rgb(0, 48, 90,.8);content:"";position:absolute;width:100%;height:100%;top:0;left:0;}
.contact-section *{color:#fff;position:relative;}
.services-section:after{content:"";background:url(assets/images/icons-bg.jpg);height:100%;width:50%;position:absolute;top:0;right:0;background-position:center;background-size:cover;}
.services-section:before{content:"";position:absolute;background-color:rgba(79, 79, 79,.8);top:0;right:0;height:100%;width:50%;z-index:1;}
.services-section{position:relative;width:100%;padding:90px 0 80px;}
.corporate-inner{position:relative;z-index:1;color:#fff;padding:0 0 0 45px;}
.corporate-inner .title-primary{color:#fff;text-align:left;border-bottom:1px solid rgba(250, 250, 250,.45);padding:0 0 35px;margin:0;}
.graphics-name{font-size:19px;line-height:29px;font-family:'Montserrat', sans-serif;font-weight:500;border-bottom:1px solid rgba(250, 250, 250,.45);padding:10px 0;}
.corporate-inner .btn-hover{margin:40px 0 0;text-transform:inherit;padding:15px 30px;}
.service-cell{padding:16px 0 0;}
.affilation-section{padding:25px 0;}
.corporate-inner i{font-size:2.5em;display:inline-block;vertical-align:middle;padding:0 10px;}
/*footer-section-Style */
.footer-section *{color:#fff;}
.footer-section{padding:50px 0 40px;background:#075687;}
.ft-title{font-size:20px;font-weight:600;font-family:'Montserrat', sans-serif;line-height:32px;margin:0 0 8px;}
.right-anchor ul li a:before{content:"\f105";font-family:fontawesome;position:relative;padding:0 5px 0 0;}
.ft-call{font-size:40px;line-height:50px;margin:0 0 12px;}
.ft-logo{margin:0 0 30px;}
.ft-number .ft-title{margin:0;line-height:27px;}
.footer-bottom-right img{padding:0 6px;}
.site-intro p{font-size:17.4px;padding:20px 0;margin:0;}
.right-anchor ul li{margin:0 0 8px;}
.social-icon li{display:inline-block;vertical-align:middle;padding:0 3px;;}
.social-icon li i{border-radius:50%;color:#fff;background-color:inherit;display:block;font-size:22px;height:42px;line-height:42px;text-align:center;width:42px;opacity:1;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;-moz-transition:all 0.7s ease-in-out 0s;border:1px solid #fff;transform:scale(1);-webkit-transform:scale(1);}
.social-icon li i:hover{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;-moz-transition:all 0.7s ease-in-out 0s;}
i.fa.fa-facebook:hover{background:#507cbe;border:1px solid #507cbe;}
i.fa.fa-twitter:hover{background:#63cdf1;border:1px solid #63cdf1;}
i.fa.fa-google-plus:hover{background:#df5144;border:1px solid #df5144;}
i.fa.fa-linkedin:hover{background:#1e88c9;border:1px solid #1e88c9;}
.copy-site{background:#112a4f;color:#fff;padding:10px 0;}
.copy-site p{margin:0;}
.site-intro{font-size:18px;line-height:37px;}
.footer-bottom a{color:#fff;}
.footer-bottom a:hover{color:#ffffff;}
/*sub-page-Style */
.sub-md-section{padding:0 0 50px;}
.sub-banner{max-height:150px;height:150px;}
.sub-banner{position:relative;}
.sub-banner{background-position:center center;background-repeat:no-repeat;background-size:cover;overflow:hidden;}
.sub-banner img{vertical-align:middle;visibility:hidden;display:block;height:auto;max-width:100%;width:100%;}
.sub-banner:after{background:rgba(234, 244, 246,0.85);height:100%;width:100%;content:"";position:absolute;top:0;}
.sub-caption{font-family:'Montserrat', sans-serif;z-index:1;color:#0b3258;font-size:28px;font-weight:700;text-align:center;line-height:38px;transform:translate(0px, -50%);-webkit-transform:translate(0px, -50%);-moz-transform:translate(0px, -50%);position:absolute;left:0;right:0;margin:0 auto;top:50%;}
.sidebar.contact-section .title-primary{font-size:30px;}
.sidebar.contact-section{padding:40px 20px;}
.sidebar.corporate-inner{position:relative;background:url(assets/images/icons-bg.jpg);background-position:center;background-size:cover;padding:0;}
.sidebar.corporate-inner:before{content:"";position:absolute;background-color:rgba(79, 79, 79,.82);top:0;right:0;height:100%;width:100%;z-index:1;}
.graphics-sidebar{z-index:1;position:relative;padding:40px 20px;}
.graphics-sidebar .top-title{color:#fff;}
.sidebar.contact-section .btn-hover{padding:15px 40px;}
.graphics-sidebar .btn-hover{padding:15px 65px;}
.graphics-sidebar .title-primary{font-size:25px;border-bottom:none;padding:0 0 20px;}
.sidebar{margin:0 0 40px;}
.graphics-sidebar .graphics-name{border:none;}
/*gform_wrapper-Style */
.instruction.validation_message,span.gfield_required{display:none;}
.validation_message{color:#e50016;font-size:12px;position:absolute;right:11px;top:40px;}
.gform_wrapper .gform_body{position:relative;}
.gform_wrapper .gform_body > ul::before, .gform_wrapper .gform_body > ul::after{content:" ";display:table;}
.gform_wrapper .gform_body > ul::after{clear:both;}
.gform_wrapper .gform_body > ul::before, .gform_wrapper .gform_body > ul::after{content:" ";display:table;}
.gform_wrapper .gform_body > ul{list-style:outside none none;margin:0;padding:0;}
.col-gfields_wrapper .gform_fields > li{float:left;margin:0 3.33333% 17px 0;width:47.9%;}
.gform_wrapper li{list-style:none;float:left;margin:0 0 20px;position:relative;width:100%;}
.gfield_label{color:#ffffff;display:block;font-family:'Open Sans', sans-serif;font-weight:400;font-size:18px;left:15px;line-height:23px;opacity:1;position:static;text-align:left;top:9px;transition:all 0.5s ease 0s;}
.gform_wrapper input[type="text"], .gform_wrapper textarea,.selectric .label{background:#fff;border:medium none;border-radius:0;box-shadow:none;color:#666699;font-family:'Open Sans', sans-serif;font-weight:400;font-size:18px;padding:13px 17px;width:100%;/* width:400px;*/
/* height:50px;*/
}
.gform_wrapper textarea{display:block;height:127px;resize:none;}
.gform_button{padding:16px 49px;background-color:transparent;border:2px solid #fff;text-align:center;color:#fff;}
.gform_wrapper .btn-hover:hover, .gform_wrapper .btn-hover:focus, .gform_wrapper .btn-hover:active{color:#075687;}
.gform_footer.top_label{text-align:center;}
.gform_wrapper .btn-hover:before{background:#fff;}
.validation_error{display:none;}
.home-form{background:#ff9933;padding:45px 25px;max-width:450px;width:450px;float:right;}
.home-form-heading{color:#fff;font-size:35px;font-family:'Source Serif Pro', serif;line-height:30px;font-weight:400;display:block;}
.home-form-heading span{font-size:20px;font-family:'Montserrat', sans-serif;font-weight:700;display:block;margin:0 0 25px;}
@media only screen and (max-width:767px){.col-gfields_wrapper .gform_fields > li{float:left;margin:margin:0 0 17px 0;width:100%;}
.home-contact .gform_footer.top_label{margin:20px 0 0;}
}
.secondary-title{font-size:22px;color:#075687;font-weight:500;font-family:'Righteous', cursive;}
/*Sub-page-Style */
.bottom-offset{margin:0 0 50px;}
.box-inner a{padding:25px 15px;display:block;}
.box-inner:nth-child(2n+1){background:#075687;}
.box-inner:nth-child(2n+2){background:#075687;}
.process-title span{display:block;margin:20px 0 0;font-weight:500;}
.box-inner:nth-child(2n+1) .process-title,.box-inner:nth-child(2n+1) .learn-more{color:#fff;}
.box-inner:nth-child(2n+2) .process-title,.box-inner:nth-child(2n+2) .learn-more{color:#ffffff;}
.box-inner:hover .learn-more{opacity:1;}
.learn-more i{font-size:28px;right:0;position:absolute;}
.cta-section{background-image:url(assets/images/cta-bg.jpg);padding:40px 0;background-position:center center;background-repeat:no-repeat;background-size:cover;position:relative;z-index:9;}
.cta-title p{margin:0;color:#fff;font-size:19px;font-weight:700;position:relative;z-index:11;}
.cta-section:after{content:"";position:absolute;background:rgb(7, 86, 135,.7);width:100%;height:100%;top:0;z-index:0;}
.review-section{padding:50px 0;}
.review{border-left:4px solid #075687;box-shadow:5px 5px 6px rgba(0, 0, 0, 0.06);padding:30px 30px 30px 130px;margin:0 15px 30px 15px;overflow:hidden;position:relative;}
.review:before{content:"";position:absolute;bottom:0;right:0;border-top:25px solid #075687;border-left:25px solid transparent;border-right:25px solid transparent;transform:rotate(-45deg);transform-origin:80% -30% 0;}
.review-slider .pic{display:inline-block;width:80px;height:80px;border-radius:50%;overflow:hidden;position:absolute;top:60px;left:20px;}
.review .pic img{width:100%;height:auto;}
.review .description{font-size:15px;font-style:italic;color:#918686;line-height:25px;margin-bottom:15px;}
.review .title{display:inline-block;font-size:20px;font-weight:700;color:#d45113;margin:0;}
.review .batch{display:inline-block;font-size:17px;color:#d45113;}
.slick-prev, .slick-next{top:0;}
.work-section{background:url(assets/images/work.jpg);padding:50px;background-position:center;background-size:cover;background-repeat:no-repeat;position:relative;width:100%;z-index:1;background-attachment:fixed;}
.work-section h2{color:#fff;margin:0 0 30px;position:relative;z-index:111;}
.work-section *{color:#fff;}
.work-cell:nth-child(1n):before{content:"\f0c0 ";font-family:FontAwesome;position:relative;left:0;font-size:2.5em;color:#ffffff;top:0;right:0;margin:0 auto;display:block;width:100%;text-align:center;}
.work-cell:nth-child(3n):before{content:"\f02d ";left:0;right:0;padding-right:0;font-size:2.5em;}
.work-cell:nth-child(4n):before{content:"\f044 ";left:0;margin:0 auto;padding-top:0;}
.work-cell:nth-child(5n):before{content:"\f02d ";left:0;right:0;margin:0 auto;padding-top:0;}
.title-work{font-weight:700;text-transform:uppercase;font-size:20px;margin:0 0 5px;}
.tab-container ul.resp-tabs-list{float:left;width:400px;margin:0;}
.tab-container .resp-tabs-container{width:100%;background:none;border:none;}
.tab-container .resp-tab-item.resp-tab-active{background:#075687;border:medium none;color:#fff;box-shadow:1px 2px 3px rgba(0, 0, 0, 0.3);-moz- box-shadow:1px 2px 3px rgba(0, 0, 0, 0.3);-webkit- box-shadow:1px 2px 3px rgba(0, 0, 0, 0.3);font-weight:700;}
.tab-container .resp-tabs-list li{border:1px solid rgb(204, 204, 204);color:#075687;cursor:pointer;display:block;float:none;font-size:22px;font-weight:400;height:95px;list-style:outside none none;margin:0 !important;padding:34px 20px;position:relative;text-align:left;font-family:'Righteous', cursive;}
/* .tab-container .resp-tabs-list li:first-child, .tab-container .resp-tabs-list li:nth-child(3){padding:30px 20px;}
 */
.tab-container .resp-tab-item.resp-tab-active:before{border-bottom:48px solid transparent;border-left:20px solid #075687;border-top:48px solid transparent;content:"";position:absolute;right:-20px;top:0;}
.tab-container .resp-vtabs ul.resp-tabs-list{float:left;width:285px;}
.tab-content{float:right;max-width:100%;padding:25px 30px;width:710px;height:460px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:11px;border-radius:0;opacity:1 !important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#075687 !important;opacity:1 !important;}
.work-section{clear:both;}
.bottom-tab-content{clear:both;float:right;margin-top:20px;max-width:680px;}
.mCSB_scrollTools{opacity:1 !important;}
@media only screen and (max-width:767px){.testimonial{padding:20px;text-align:center;}
 .testimonial .pic{display:block;position:static;margin:0 auto 15px;}
}
@media screen and (min-width:1200px){.header-logo{width:191px;transition:all 0.7s ease-in-out 0s;-webkit-transition:all 0.7s ease-in-out 0s;}
.navigation .menu > li > a{padding:31px 9px;}
.navigation li a{font-size:17px;}
.fixed .navigation .menu > li > a{padding:20px 9px;}
}
@media screen and (min-width:1400px){.header-logo{width:246px;}
.navigation .menu > li > a{padding:31px 24px;}
.navigation li a{font-size:18px;}
.fixed .navigation .menu > li > a{padding:20px 24px;}
}
.let-talk .btn-hover:hover{color:#075687;border:2px solid #075687;}
.spacial-Secvices{padding:50px 0;background:#f4f4f4 none repeat scroll 0 0;float:left;width:100%;}
.btn-hover{background:#075687;}
#horizontalTab{background:#fff none repeat scroll 0 0;box-shadow:0 0 10px rgba(0,0,0,.2);float:left;padding:30px 20px;width:100%;}
.resp-tab-content{background:none;}
.blog-section{padding:30px 0;}
.inner-blog{background:#fff;box-shadow:0 0 10px rgba(0,0,0,.2);padding:20px;}
.blog-img img{width:100%;margin:0 0 25px;height:300px;}
.read-more a{text-transform:capitalize;font-size:16px;text-decoration:none;line-height:26px;color:#075687;}
.tm-box-post-date{background:#075687;color:#fff;margin:0;z-index:11;font-size:15px;line-height:25px;font-weight:600;text-align:center;padding:0;text-transform:uppercase;padding:10px;width:120px;height:70px;position:absolute;top:-66px;right:0px;}
.tm-box-post-date a{font-size:12px;color:#fff;border-top:1px solid #fff;display:block;}
.blog-date{position:relative;width:100%;}
.spacial-Secvices .btn-hover:hover{border:2px solid #075687;}
/*login-style*/
.sitemap{padding:15px 0px 6px;text-align:left;width:100%;display:block;overflow:hidden;}
.sitemap a{display:inline-block;font-size:13px;color:#787878;}
.sitemap span{display:inline-block;font-size:13px;color:#787878;padding:0px 4px;}
.login-container .lesson-nav{margin-top:37px;}
.login-container .test-item{margin-bottom:40px;}
.login-container .book{transform:scale(0.7);float:left;top:-22px;}
.book{position:relative;width:160px;height:220px;-webkit-perspective:1000px;-moz-perspective:1000px;perspective:1000px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.hardcover_front{-webkit-transition:all 0.8s ease,z-index 0.6s;-moz-transition:all 0.8s ease,z-index 0.6s;transition:all 0.8s ease,z-index 0.6s;}
.hardcover_front, .hardcover_back{-webkit-transform-origin:0% 100%;-moz-transform-origin:0% 100%;transform-origin:0% 100%;}
.hardcover_front, .hardcover_back, .book_spine, .hardcover_front li, .hardcover_back li, .book_spine li{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.hardcover_front{-webkit-transform:rotateY(-34deg) translateZ(8px);-moz-transform:rotateY(-34deg) translateZ(8px);transform:rotateY(-34deg) translateZ(8px);z-index:100;}
.hardcover_front li:first-child{cursor:default;-webkit-user-select:none;-moz-user-select:none;user-select:none;-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);transform:translateZ(2px);}
.hardcover_front li:first-child{background-color:#eee;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;}
.login-container .hardcover_front img{height:100%;}
.hardcover_front li:last-child{-webkit-transform:rotateY(180deg) translateZ(2px);-moz-transform:rotateY(180deg) translateZ(2px);transform:rotateY(180deg) translateZ(2px);}
.hardcover_front li:last-child{background:#fffbec;}
.book-page{width:100%;height:98%;top:1%;left:3%;z-index:10;}
.book-page, .book-page > li{position:absolute;top:0;left:0;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.book-page > li:nth-child(1){-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;transition-duration:0.6s;}
.book-page li:nth-child(1){-webkit-transform:rotateY(-28deg);-moz-transform:rotateY(-28deg);transform:rotateY(-28deg);}
.book-page > li{width:100%;height:100%;-webkit-transform-origin:left center;-moz-transform-origin:left center;transform-origin:left center;-webkit-transition-property:transform;-moz-transition-property:transform;transition-property:transform;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;transition-timing-function:ease;}
.book-page, .book-page > li{position:absolute;top:0;left:0;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.book-page > li{background:-webkit-linear-gradient(left,#e1ddd8 0%,#fffbf6 100%);background:-moz-linear-gradient(left,#e1ddd8 0%,#fffbf6 100%);background:-ms-linear-gradient(left,#e1ddd8 0%,#fffbf6 100%);background:linear-gradient(left,#e1ddd8 0%,#fffbf6 100%);box-shadow:inset 0px -1px 2px rgba(50,50,50,0.1), inset -1px 0px 1px rgba(150,150,150,0.2);border-radius:0px 5px 5px 0px;}
.book-page > li:nth-child(2){-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;transition-duration:0.6s;}
.book-page li:nth-child(2){-webkit-transform:rotateY(-30deg);-moz-transform:rotateY(-30deg);transform:rotateY(-30deg);}
.login-container .test-caption{padding-top:15px;padding-left:15px;color:#282828;}
.test-caption{color:#075687;margin:0px;padding:0px;}
.login-container .test-annotation{padding-left:15px;opacity:0;transition:0.7s;}
.login-container .item-selected strong{font-size:22px;color:#32b4c8;}
.book-page > li:nth-child(3){-webkit-transition-duration:0.4s;-moz-transition-duration:0.4s;transition-duration:0.4s;}
.book-page li:nth-child(3){-webkit-transform:rotateY(-32deg);-moz-transform:rotateY(-32deg);transform:rotateY(-32deg);}
.login-container .book-logo{padding:30px 0 0 30px;}
.login-container .book-logo img{transform-style:preserve-3d;transform:rotateY(180deg);}
.book-page > li:nth-child(4){-webkit-transition-duration:0.5s;-moz-transition-duration:0.5s;transition-duration:0.5s;}
.book-page li:nth-child(4){-webkit-transform:rotateY(-34deg);-moz-transform:rotateY(-34deg);transform:rotateY(-34deg);}
.book-page > li:nth-child(5){-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;transition-duration:0.6s;}
.book-page li:nth-child(5){-webkit-transform:rotateY(-36deg);-moz-transform:rotateY(-36deg);transform:rotateY(-36deg);}
.hardcover_back li:first-child{-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);transform:translateZ(2px);}
.hardcover_back li:first-child{background:#fffbec;}
.book_spine{-webkit-transform:rotateY(60deg) translateX(-5px) translateZ(-12px);-moz-transform:rotateY(60deg) translateX(-5px) translateZ(-12px);transform:rotateY(60deg) translateX(-5px) translateZ(-12px);width:16px;z-index:0;}
.book_spine li:first-child{-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);transform:translateZ(2px);}
.book_spine li:first-child{background:#eee;}
.book_spine li:last-child{-webkit-transform:translateZ(-2px);-moz-transform:translateZ(-2px);transform:translateZ(-2px);}
.book_spine li:last-child{background:#333;}
.login-container .test-content{overflow:hidden;}
.login-container .test-title{font-family:"Montserrat",sans-serif;color:#075687;font-size:20px;font-weight:bold;letter-spacing:0.31px;line-height:24px;margin:0 0 30px 0;}
.login-container .list-volume li{float:left;width:50%;font-family:"Montserrat",sans-serif;font-size:14px;font-weight:600;letter-spacing:0.5px;color:#075687;margin-bottom:0;position:relative;padding-left:16px;-moz-transition:all ease 0.2s;-o-transition:all ease 0.2s;-webkit-transition:all ease 0.2s;transition:all ease 0.2s;}
.login-container .list-volume li a{padding:8px 0;display:block;text-align:right;padding:6px 40px 6px 0;}
.login-container .list-volume li .volume-name{position:relative;float:left;}
.login-container .list-volume li .volume-name:before{position:absolute;content:'';height:5px;width:5px;border-radius:50%;left:-15px;top:7px;background-color:#075687;}
.login-container .list-volume li .vote{font-size:10px;font-family:"Nunito",sans-serif;color:#888888;text-align:center;margin:0 10px 0 20px;font-weight:normal;}
.login-container .list-volume li .star{font-size:12px;font-family:"Nunito",sans-serif;font-weight:bold;color:#FAAA5A;text-align:center;}
.login-container .tab-content{width:100%;height:auto;}
.list-volume > ul{padding:0;}
.login-container .list-volume li a span:hover{color:#075687;text-decoration:underline;}
.nav > li{position:relative;display:block;}
.login-container .lesson-nav li{float:left;margin-right:0;-moz-transition:all ease 0.2s;-o-transition:all ease 0.2s;-webkit-transition:all ease 0.2s;transition:all ease 0.2s;}
.login-container .lesson-nav li{display:block;font-family:"Montserrat",sans-serif;font-size:16px;letter-spacing:0.25px;line-height:20px;color:#9D9D9D;position:relative;transition:0.2s;}
.login-container .lesson-nav li:after{content:'';width:100%;transform:scale(0);height:3px;position:absolute;background-color:#284664;bottom:0;left:0;transition:0.25s;}
.login-container .lesson-nav li.active a{color:#075687;}
.login-container .lesson-nav .resp-tabs-list li{display:block;padding:10px 0 10px 0;font-family:"Montserrat",sans-serif;font-size:16px !important;letter-spacing:0.25px;line-height:20px;color:#9D9D9D;position:relative;transition:0.2s;}
.login-container .lesson-nav li.resp-tab-active,.login-container .lesson-nav li.resp-tab-active i:before{font-weight:bold;color:#284664;}
.login-container .lesson-nav li i{padding-right:12px;}
.login-container .lesson-nav li.resp-tab-active:after{transform:scale(1);}
.login-container .lesson-nav li:after{content:'';width:100%;transform:scale(0);height:3px;position:absolute;background-color:#284664;bottom:0;left:0;transition:0.25s;}
.box-caption p{display:inline-block;font-size:20px;font-weight:700;line-height:55px;color:#284664;font-family:"Montserrat",sans-serif;margin:0;}
.mostview-item{background-color:#fff;padding:10px 10px 10px 85px;margin:10px 0px 0px 0px;border-radius:3px;}
.mostview-item img{width:65px;height:65px;float:left;margin:2px 0px 0px -75px;}
.mostview-item h3{margin:-5px 0px 0px 0px;padding:0px;line-height:0.9;}
.mostview-item h3 a{font-size:13px;font-family:"Montserrat",sans-serif;font-weight:800;color:#284664;}
.mostview-item p{font-size:12px;margin:0px;margin:3px 0px 0px 0px;}
.mostview-item .mi-tag{font-size:12px;font-weight:800;color:#7e90a2;}
.mostview-item .mi-view{float:right;font-size:10px;margin:3px 0px 0px 0px;color:#a0a0a0;}
.cl-right{background-color:#f7f7f7;padding-top:50px;}
.academic-test{background:url(/themes/iot/images/icon-academic.svg) left center no-repeat;background-size:26px 20px;}
@media (max-width:767px){.exam-library .academic-test{background-size:20px 14px;}
}
.exam-library .general-test{background:url(/themes/iot/images/icon-usergroup.svg) left center no-repeat;background-size:26px 18px;}
@media (max-width:767px){.exam-library .general-test{background-size:16px 8px;}
}
.exam-library .tab-content{margin-top:52px;}
.exam-library .test-item{margin-bottom:40px;}
@media (max-width:767px){.exam-library .test-item{margin-bottom:30px;}
}
.exam-library .book{transform:scale(0.7);float:left;top:-22px;}
@media (max-width:767px){.exam-library .book{float:none;}
}
.exam-library .hardcover_front img{height:100%;}
.exam-library .test-caption{padding-top:15px;padding-left:15px;color:#282828;}
@media (max-width:767px){.exam-library .test-caption{font-size:16px;}
}
.exam-library .test-annotation{padding-left:15px;opacity:0;transition:0.7s;}
.exam-library .item-selected strong{font-size:22px;color:#32b4c8;}
.exam-library .book-logo{padding:30px 0 0 30px;}
.exam-library .book-logo img{transform-style:preserve-3d;transform:rotateY(180deg);}
.exam-library .test-cover{height:97px;width:97px;float:left;margin-right:25px;border:1px solid #d4dae0;border-radius:4px;}
@media (max-width:767px){.exam-library .test-cover{width:100%;max-width:300px;height:auto;display:block;margin:0 auto 20px;float:none;}
}
.exam-library .test-content{overflow:hidden;}
@media (max-width:767px){.exam-library .test-content{float:none;padding:0 15px;}
}
.exam-library .test-title{font-family:"Montserrat",sans-serif;color:#284664;font-size:20px;font-weight:bold;letter-spacing:0.31px;line-height:24px;margin:0 0 30px 0;}
@media (max-width:767px){.exam-library .test-title{text-align:center;font-size:18px;}
}
.exam-library .list-volume li{float:left;width:50%;font-family:"Montserrat",sans-serif;font-size:14px;font-weight:600;letter-spacing:0.5px;color:#284664;margin-bottom:0;position:relative;padding-left:16px;-moz-transition:all ease 0.2s;-o-transition:all ease 0.2s;-webkit-transition:all ease 0.2s;transition:all ease 0.2s;}
@media (max-width:767px){.exam-library .list-volume li{font-size:12px;text-align:center;}
}
.exam-library .list-volume li:hover .volume-name{text-decoration:underline;}
.exam-library .list-volume li a{padding:8px 0;display:block;text-align:right;padding:6px 40px 6px 0;}
@media (max-width:767px){.exam-library .list-volume li a{padding:6px 0;text-align:left;}
}
.exam-library .list-volume li .vote{font-size:10px;font-family:"Nunito",sans-serif;color:#888888;text-align:center;margin:0 10px 0 20px;font-weight:normal;}
@media (max-width:767px){.exam-library .list-volume li .vote{margin:0 5px 0 0;}
}
.exam-library .list-volume li .star{font-size:12px;font-family:"Nunito",sans-serif;font-weight:bold;color:#FAAA5A;text-align:center;}
@media (max-width:767px){.exam-library .list-volume li .star{font-size:10px;}
}
.exam-library .list-volume li .volume-name{position:relative;float:left;}
.exam-library .list-volume li .volume-name .icon-video{position:relative;font-style:initial;margin-left:8px;}
.exam-library .list-volume li .volume-name .icon-video span{position:absolute;padding:8px 9px 10px;font-size:10px;line-height:1.33;letter-spacing:0.1px;text-align:center;width:100%;min-width:168px;transform:translateX(-50%);left:0;bottom:calc(100% + 8px);background:#284664;border-radius:4px;color:#fff;}
@media (max-width:767px){.exam-library .list-volume li .volume-name .icon-video span{padding:6px 9px 6px;}
}
.exam-library .list-volume li .volume-name .icon-video span:after{position:absolute;content:'';width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:5px solid #284664;bottom:-5px;left:51.6%;}
@media (max-width:767px){.exam-library .list-volume li .volume-name{float:none;}
}
.exam-library .list-volume li .volume-name:before{position:absolute;content:'';height:5px;width:5px;border-radius:50%;left:-15px;top:7px;background-color:#284664;}
@media (max-width:767px){.exam-library .list-volume li .volume-name:before{left:initial;top:-1px;margin-right:4px;display:inline-block;position:relative;}
}
@media (max-width:767px){.exam-library .list-volume li .volume-name{display:block;}
}
.exam-library .cl-right{background-color:#f7f7f7;padding-top:50px;}
@media (min-width:768px) and (max-width:991px){.exam-library .cl-right{display:none;}
}
@media (max-width:767px){.exam-library .cl-right{padding-bottom:50px;}
}
@media (max-width:767px){.exam-library .box-caption-margin{margin-top:0;}
}
.hardcover_back li:before,.hardcover_back li:after{content:"";}
.book{position:relative;width:160px;height:220px;-webkit-perspective:1000px;-moz-perspective:1000px;perspective:1000px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.hardcover_front li:first-child{background-color:#eee;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;}
.hardcover_front li:last-child{background:#fffbec;}
.hardcover_back li:first-child{background:#fffbec;}
.hardcover_back li:last-child{background:#fffbec;}
.book_spine li:first-child{background:#eee;}
.book_spine li:last-child{background:#333;}
.hardcover_front li:first-child:after,.hardcover_front li:first-child:before,.hardcover_front li:last-child:after,.hardcover_front li:last-child:before,.hardcover_back li:first-child:after,.hardcover_back li:first-child:before,.hardcover_back li:last-child:after,.hardcover_back li:last-child:before,.book_spine li:first-child:after,.book_spine li:first-child:before,.book_spine li:last-child:after,.book_spine li:last-child:before{background:#999;}
.book-page > li{background:-webkit-linear-gradient(left,#e1ddd8 0%,#fffbf6 100%);background:-moz-linear-gradient(left,#e1ddd8 0%,#fffbf6 100%);background:-ms-linear-gradient(left,#e1ddd8 0%,#fffbf6 100%);background:linear-gradient(left,#e1ddd8 0%,#fffbf6 100%);box-shadow:inset 0px -1px 2px rgba(50,50,50,0.1),inset -1px 0px 1px rgba(150,150,150,0.2);border-radius:0px 5px 5px 0px;}
.hardcover_front{-webkit-transform:rotateY(-34deg) translateZ(8px);-moz-transform:rotateY(-34deg) translateZ(8px);transform:rotateY(-34deg) translateZ(8px);z-index:100;}
.hardcover_back{-webkit-transform:rotateY(-15deg) translateZ(-8px);-moz-transform:rotateY(-15deg) translateZ(-8px);transform:rotateY(-15deg) translateZ(-8px);}
.book-page li:nth-child(1){-webkit-transform:rotateY(-28deg);-moz-transform:rotateY(-28deg);transform:rotateY(-28deg);}
.book-page li:nth-child(2){-webkit-transform:rotateY(-30deg);-moz-transform:rotateY(-30deg);transform:rotateY(-30deg);}
.book-page li:nth-child(3){-webkit-transform:rotateY(-32deg);-moz-transform:rotateY(-32deg);transform:rotateY(-32deg);}
.book-page li:nth-child(4){-webkit-transform:rotateY(-34deg);-moz-transform:rotateY(-34deg);transform:rotateY(-34deg);}
.book-page li:nth-child(5){-webkit-transform:rotateY(-36deg);-moz-transform:rotateY(-36deg);transform:rotateY(-36deg);}
.hardcover_front,.hardcover_back,.book_spine,.hardcover_front li,.hardcover_back li,.book_spine li{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.hardcover_front,.hardcover_back{-webkit-transform-origin:0% 100%;-moz-transform-origin:0% 100%;transform-origin:0% 100%;}
.hardcover_front{-webkit-transition:all 0.8s ease,z-index 0.6s;-moz-transition:all 0.8s ease,z-index 0.6s;transition:all 0.8s ease,z-index 0.6s;}
.hardcover_front li:first-child{cursor:default;-webkit-user-select:none;-moz-user-select:none;user-select:none;-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);transform:translateZ(2px);}
.hardcover_front li:last-child{-webkit-transform:rotateY(180deg) translateZ(2px);-moz-transform:rotateY(180deg) translateZ(2px);transform:rotateY(180deg) translateZ(2px);}
.hardcover_back li:first-child{-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);transform:translateZ(2px);}
.hardcover_back li:last-child{-webkit-transform:translateZ(-2px);-moz-transform:translateZ(-2px);transform:translateZ(-2px);}
.hardcover_front li:first-child:after,.hardcover_front li:first-child:before,.hardcover_front li:last-child:after,.hardcover_front li:last-child:before,.hardcover_back li:first-child:after,.hardcover_back li:first-child:before,.hardcover_back li:last-child:after,.hardcover_back li:last-child:before,.book_spine li:first-child:after,.book_spine li:first-child:before,.book_spine li:last-child:after,.book_spine li:last-child:before{position:absolute;top:0;left:0;}
.hardcover_front li:first-child:after,.hardcover_front li:first-child:before{width:4px;height:100%;}
.hardcover_front li:first-child:after{-webkit-transform:rotateY(90deg) translateZ(-2px) translateX(2px);-moz-transform:rotateY(90deg) translateZ(-2px) translateX(2px);transform:rotateY(90deg) translateZ(-2px) translateX(2px);}
.hardcover_front li:first-child:before{-webkit-transform:rotateY(90deg) translateZ(158px) translateX(2px);-moz-transform:rotateY(90deg) translateZ(158px) translateX(2px);transform:rotateY(90deg) translateZ(158px) translateX(2px);}
.hardcover_front li:last-child:after,.hardcover_front li:last-child:before{width:4px;height:160px;}
.hardcover_front li:last-child:after{-webkit-transform:rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);-moz-transform:rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);transform:rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);}
.hardcover_front li:last-child:before{box-shadow:0px 0px 30px 5px #333;-webkit-transform:rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);-moz-transform:rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);transform:rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);}
.hardcover_back li:first-child:after,.hardcover_back li:first-child:before{width:4px;height:100%;}
.hardcover_back li:first-child:after{-webkit-transform:rotateY(90deg) translateZ(-2px) translateX(2px);-moz-transform:rotateY(90deg) translateZ(-2px) translateX(2px);transform:rotateY(90deg) translateZ(-2px) translateX(2px);}
.hardcover_back li:first-child:before{-webkit-transform:rotateY(90deg) translateZ(158px) translateX(2px);-moz-transform:rotateY(90deg) translateZ(158px) translateX(2px);transform:rotateY(90deg) translateZ(158px) translateX(2px);}
.hardcover_back li:last-child:after,.hardcover_back li:last-child:before{width:4px;height:160px;}
.hardcover_back li:last-child:after{-webkit-transform:rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);-moz-transform:rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);transform:rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);}
.hardcover_back li:last-child:before{box-shadow:10px -1px 80px 20px #666;-webkit-transform:rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);-moz-transform:rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);transform:rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);}
.book_spine{-webkit-transform:rotateY(60deg) translateX(-5px) translateZ(-12px);-moz-transform:rotateY(60deg) translateX(-5px) translateZ(-12px);transform:rotateY(60deg) translateX(-5px) translateZ(-12px);width:16px;z-index:0;}
.book_spine li:first-child{-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);transform:translateZ(2px);}
.book_spine li:last-child{-webkit-transform:translateZ(-2px);-moz-transform:translateZ(-2px);transform:translateZ(-2px);}
.book_spine li:first-child:after,.book_spine li:first-child:before{width:4px;height:100%;}
.book_spine li:first-child:after{-webkit-transform:rotateY(90deg) translateZ(-2px) translateX(2px);-moz-transform:rotateY(90deg) translateZ(-2px) translateX(2px);transform:rotateY(90deg) translateZ(-2px) translateX(2px);}
.book_spine li:first-child:before{-webkit-transform:rotateY(-90deg) translateZ(-12px);-moz-transform:rotateY(-90deg) translateZ(-12px);transform:rotateY(-90deg) translateZ(-12px);}
.book_spine li:last-child:after,.book_spine li:last-child:before{width:4px;height:16px;}
.book_spine li:last-child:after{-webkit-transform:rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);-moz-transform:rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);transform:rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);}
.book_spine li:last-child:before{box-shadow:5px -1px 100px 40px rgba(0,0,0,0.2);-webkit-transform:rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);-moz-transform:rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);transform:rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);}
.book-page,.book-page > li{position:absolute;top:0;left:0;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.book-page{width:100%;height:98%;top:1%;left:3%;z-index:10;}
.book-page > li{width:100%;height:100%;-webkit-transform-origin:left center;-moz-transform-origin:left center;transform-origin:left center;-webkit-transition-property:transform;-moz-transition-property:transform;transition-property:transform;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;transition-timing-function:ease;}
.book-page > li:nth-child(1){-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;transition-duration:0.6s;}
.book-page > li:nth-child(2){-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;transition-duration:0.6s;}
.book-page > li:nth-child(3){-webkit-transition-duration:0.4s;-moz-transition-duration:0.4s;transition-duration:0.4s;}
.book-page > li:nth-child(4){-webkit-transition-duration:0.5s;-moz-transition-duration:0.5s;transition-duration:0.5s;}
.book-page > li:nth-child(5){-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;transition-duration:0.6s;}
.book:hover > .hardcover_front,.test-item:hover .hardcover_front{-webkit-transform:rotateY(-145deg) translateZ(0);-moz-transform:rotateY(-145deg) translateZ(0);transform:rotateY(-145deg) translateZ(0);z-index:0;}
.book:hover > .book-page li:nth-child(1),.test-item:hover .book-page li:nth-child(1){-webkit-transform:rotateY(-30deg);-moz-transform:rotateY(-30deg);transform:rotateY(-30deg);-webkit-transition-duration:1.5s;-moz-transition-duration:1.5s;transition-duration:1.5s;}
.book:hover > .book-page li:nth-child(2),.test-item:hover .book-page li:nth-child(2){-webkit-transform:rotateY(-35deg);-moz-transform:rotateY(-35deg);transform:rotateY(-35deg);-webkit-transition-duration:1.8s;-moz-transition-duration:1.8s;transition-duration:1.8s;}
.book:hover > .book-page li:nth-child(3),.test-item:hover .book-page li:nth-child(3){-webkit-transform:rotateY(-118deg);-moz-transform:rotateY(-118deg);transform:rotateY(-118deg);-webkit-transition-duration:1.6s;-moz-transition-duration:1.6s;transition-duration:1.6s;}
.book:hover > .book-page li:nth-child(4),.test-item:hover .book-page li:nth-child(4){-webkit-transform:rotateY(-130deg);-moz-transform:rotateY(-130deg);transform:rotateY(-130deg);-webkit-transition-duration:1.4s;-moz-transition-duration:1.4s;transition-duration:1.4s;}
.book:hover > .book-page li:nth-child(5),.test-item:hover .book-page li:nth-child(5){-webkit-transform:rotateY(-140deg);-moz-transform:rotateY(-140deg);transform:rotateY(-140deg);-webkit-transition-duration:1.2s;-moz-transition-duration:1.2s;transition-duration:1.2s;}
.coverDesign{position:absolute;top:0;left:0;bottom:0;right:0;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;}
.coverDesign::after{background-image:-webkit-linear-gradient(-135deg,rgba(255,255,255,0.45) 0%,transparent 100%);background-image:-moz-linear-gradient(-135deg,rgba(255,255,255,0.45) 0%,transparent 100%);background-image:linear-gradient(-135deg,rgba(255,255,255,0.45) 0%,transparent 100%);position:absolute;top:0;left:0;bottom:0;right:0;}
.coverDesign h1{color:#fff;font-size:2.2em;letter-spacing:0.05em;text-align:center;margin:54% 0 0 0;text-shadow:-1px -1px 0 rgba(0,0,0,0.1);}
.coverDesign p{color:#f8f8f8;font-size:1em;text-align:center;text-shadow:-1px -1px 0 rgba(0,0,0,0.1);}
.yellow{background-color:#f1c40f;background-image:-webkit-linear-gradient(top,#f1c40f 58%,#e7ba07 0%);background-image:-moz-linear-gradient(top,#f1c40f 58%,#e7ba07 0%);background-image:linear-gradient(top,#f1c40f 58%,#e7ba07 0%);}
.blue{background-color:#3498db;background-image:-webkit-linear-gradient(top,#3498db 58%,#2a90d4 0%);background-image:-moz-linear-gradient(top,#3498db 58%,#2a90d4 0%);background-image:linear-gradient(top,#3498db 58%,#2a90d4 0%);}
.grey{background-color:#f8e9d1;background-image:-webkit-linear-gradient(top,#f8e9d1 58%,#e7d5b7 0%);background-image:-moz-linear-gradient(top,#f8e9d1 58%,#e7d5b7 0%);background-image:linear-gradient(top,#f8e9d1 58%,#e7d5b7 0%);}
.ribbon{background:#c0392b;color:#fff;display:block;font-size:0.7em;position:absolute;top:11px;right:1px;width:40px;height:20px;line-height:20px;letter-spacing:0.15em;text-align:center;-webkit-transform:rotateZ(45deg) translateZ(1px);-moz-transform:rotateZ(45deg) translateZ(1px);transform:rotateZ(45deg) translateZ(1px);-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;z-index:10;}
.ribbon::before,.ribbon::after{position:absolute;top:-20px;width:0;height:0;border-bottom:20px solid #c0392b;border-top:20px solid transparent;}
.ribbon::before{left:-20px;border-left:20px solid transparent;}
.ribbon::after{right:-20px;border-right:20px solid transparent;}
figcaption{padding-left:40px;text-align:left;position:absolute;top:0%;left:160px;width:310px;}
figcaption h1{margin:0;}
figcaption span{color:#16a085;padding:0.6em 0 1em 0;display:block;}
figcaption p{color:#63707d;line-height:1.3;}
@media screen and (max-width:37.8125em){.align > li{width:100%;min-height:440px;height:auto;padding:0;margin:0 0 30px 0;}
.book{margin:0 auto;}
figcaption{text-align:center;width:320px;top:250px;padding-left:0;left:-80px;font-size:90%;}
}
@keyframes fadeInRight{from{opacity:0;transform:translate3d(100%,0,0);}
to{opacity:1;transform:none;}
}
.fadeInRight{animation-name:fadeInRight;}
.animated{animation-duration:1s;animation-fill-mode:both;}
.exam-volume-detail .js-volume-slider{max-width:666px;margin-top:30px;margin-bottom:53px;position:relative;}
@media (min-width:768px) and (max-width:991px){.exam-volume-detail .js-volume-slider{margin:30px auto 53px;}
}
@media (max-width:767px){.exam-volume-detail .js-volume-slider{max-width:270px;margin:30px auto 40px;}
}
.exam-volume-detail .cl-right{background-color:#F7F7F7;padding:50px 15px 30px;}
.exam-volume-detail .test-hero img:first-child{width:180px;}
.exam-volume-detail .test-hero .test-vote{margin:13px 0 2px;}
.exam-volume-detail .test-hero i.fa{font-size:16px;margin:0px 2px;}
.exam-volume-detail .volume-item{height:50px;width:122px;border:1px solid #E8E8E8;background-color:#FFFFFF;float:left;position:relative;color:#9D9D9D;transition:0.15s;}
.exam-volume-detail .volume-item.active,.exam-volume-detail .volume-item:hover{border:1px solid #284664;box-shadow:0 0 0 1px #284664;}
.exam-volume-detail .volume-item.active .volume-name,.exam-volume-detail .volume-item:hover .volume-name{background-color:#284664;color:#fff;}
.exam-volume-detail .volume-item.active .volume-star,.exam-volume-detail .volume-item:hover .volume-star{color:#FAAA5A;}
.exam-volume-detail .volume-name{height:25px;line-height:25px;font-family:"Montserrat",sans-serif;font-size:9px;font-weight:600;letter-spacing:3px;text-align:center;float:none;padding:0;text-transform:uppercase;transition:0.15s;position:relative;width:100%;width:calc(100% + 2px);z-index:9;left:-1px;right:-1px;}
.exam-volume-detail .volume-star{font-size:12px;font-weight:bold;text-align:center;margin:0;transition:0.15s;height:25px;line-height:25px;width:45%;float:left;padding:0;}
.exam-volume-detail .volume-star i{margin-left:5px;}
.exam-volume-detail .volume-vote{font-size:9px;line-height:12px;text-align:center;transition:0.15s;height:25px;line-height:25px;float:left;text-align:center;width:50%;}
.exam-volume-detail .practice-table{margin:55px 0;position:relative;}
@media (max-width:767px){.exam-volume-detail .practice-table{margin:55px -15px;}
}
.exam-volume-detail .practice-table:before{content:'';width:1px;height:100%;background-color:#D5D5D5;top:0;left:140px;position:absolute;z-index:9;}
@media (max-width:767px){.exam-volume-detail .practice-table:before{display:none;}
}
.exam-volume-detail .practice-type{color:#327846;font-family:"Montserrat",sans-serif;font-size:11px;font-weight:bold;letter-spacing:2.75px;line-height:24px;text-transform:uppercase;position:relative;top:13px;}
@media (max-width:767px){.exam-volume-detail .practice-type{font-size:9px;}
}
.exam-volume-detail .practice-type.green{color:#327846;}
.exam-volume-detail .practice-type.aqua{color:#32b4c8;}
.exam-volume-detail .practice-type.orange{color:#faaa5a;top:10px;}
.exam-volume-detail .practice-type.pink{color:#c86478;top:7px;}
.exam-volume-detail .divTableRow{clear:both;overflow:hidden;padding:22px 17px;position:relative;}
@media (max-width:767px){.exam-volume-detail .divTableRow{padding:50px 10px 22px;}
}
.exam-volume-detail .divTableRow:nth-child(odd){background-color:#F3F3F3;}
.exam-volume-detail .head-row{border-bottom:1px solid #D5D5D5;padding:25px 17px 25px;}
@media (max-width:767px){.exam-volume-detail .head-row{padding:60px 0px 25px;}
}
.work-section:after{content:"";position:absolute;right:0;background:rgba(0, 0, 0, .5);top:0;left:0;width:100%;height:100%;z-index:1;}
.work-cell:last-child{margin:0 auto;}
.work-cell{z-index:111;}
.work-section{padding:40px;}
.left-work{z-index:111;}
.right-work{padding:20px 40px;}
.left-work img{width:300px;margin:0 auto;display:block;}
.inner-work{padding:10px;border-radius:8px;margin:0 0 20px 0;text-align:center;border-bottom:2px solid #fff;}
.spacial-Secvices .btn-hover{margin:0 0 30px;}
.banner-wrapper{position:relative;}
/*---------Flip-CSS.......................*/
/* entire container, keeps perspective */
.flip-container{-webkit-perspective:1000;-moz-perspective:1000;-ms-perspective:1000;perspective:1000;}
/* UPDATED! flip the pane when hovered */
.flip-container:hover .back{-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-o-transform:rotateY(0deg);-ms-transform:rotateY(0deg);transform:rotateY(0deg);}
.flip-container:hover .front{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);transform:rotateY(180deg);filter:FlipH;-ms-filter:"FlipH";}
.flip-container, .front, .back{width:100%;min-height:300px;height:300px;}
/* flip speed goes here */
.flipper{-webkit-transition:0.6s;-webkit-transform-style:preserve-3d;-ms-transition:0.6s;-moz-transition:0.6s;-moz-transform:perspective(1000px);-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transition:0.6s;transform-style:preserve-3d;position:relative;}
/* hide back of pane during swap */
.front, .back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:0.6s;-webkit-transform-style:preserve-3d;-webkit-transform:rotateY(0deg);-moz-transition:0.6s;-moz-transform-style:preserve-3d;-moz-transform:rotateY(0deg);-o-transition:0.6s;-o-transform-style:preserve-3d;-o-transform:rotateY(0deg);-ms-transition:0.6s;-ms-transform-style:preserve-3d;-ms-transform:rotateY(0deg);transition:0.6s;transform-style:preserve-3d;transform:rotateY(0deg);position:absolute;top:0;left:0;}
/* UPDATED! front pane, placed above back */
.front{-webkit-transform:rotateY(0deg);-ms-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-o-transform:rotateY(0deg);transform:rotateY(0deg);z-index:2;background:#075687;box-shadow:0px 4px 4.5px 0.5px rgba(0, 0, 0, 0.22);}
/* back, initially hidden pane */
.back{-webkit-transform:rotateY(-180deg);-moz-transform:rotateY(-180deg);-o-transform:rotateY(-180deg);-ms-transform:rotateY(-180deg);transform:rotateY(-180deg);box-shadow:0px 4px 4.5px 0.5px rgba(0, 0, 0, 0.22);}
.back p{padding:0 10px;font-weight:600;display:block;color:#000;text-align:center;font-size:14px;}
.services-content-row .back i{color:#000;text-align:center;font-size:5.5em;display:block;margin:0 auto 30px;}
.backcont{margin:0 0 10px;display:block;}
.back .button{min-width:auto;border-color:#000;color:#000;text-transform:capitalize;position:absolute;left:0;right:0;bottom:15px;margin:10px auto 0;display:block;}
.back .button-yellow-border:before{background-color:#000;}
.back .button:hover{color:#eded00;}
.back{background:#fff;}
.back{padding:40px 0 0;}
 .services-panel *{flex:auto 1 1;-ms-flex:auto 1 1;}
 .services-panel > a{display:block;padding:40px 0 0;}
.services-content-row{top:-100px;position:relative;}
.services-panel i,.backcont i{display:block;font-size:2.5em;color:#fff;margin:0 auto;text-align:center;}
.flip-container .button{min-width:inherit;display:block;width:calc(100% - 50px);padding:10px 10px;flex:inherit;margin:0 auto;border-width:1px;font-size:16px;}
.services-panel a:hover .button{color:#000000;}
.services-panel a:hover .button:before{width:100%;left:0;}
.services-title{color:#fff;font-size:22px;text-transform:uppercase;margin:33px 0 0;padding:0 10px;}
.button-yellow-border{border:3px solid #fff;background-color:transparent;color:#fff;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;}
.backcont i{margin:0 0 33px;color:#075687;}
.back .button-yellow-border{border-color:#000;text-align:center;c olor:#000;}
.service-pack{color:#fff;margin:0 0 33px;text-transform:capitalize;}
.work{margin:0px 0px;background:#075687;-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.3);-khtml-box-shadow:0px 0px 8px rgba(0,0,0,0.3);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.3);position:relative;z-index:90;/* the stack order:displayed under ribbon rectangle (100) */
}
.rectangle{background:#fff;height:38px;width:380px;position:relative;left:-15px;top:30px;float:left;-moz-box-shadow:0px 0px 4px rgba(0,0,0,0.55);-khtml-box-shadow:0px 0px 4px rgba(0,0,0,0.55);-webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.55);z-index:100;/* the stack order:foreground */
}
.rectangle h2{font-size:23px;color:#075687;padding-top:6px;text-shadow:1px 1px 2px rgba(0,0,0,0.2);text-align:center;}
.triangle-l{border-color:transparent #fff transparent transparent;border-style:solid;border-width:15px;height:0px;width:0px;position:relative;left:-30px;top:52px;z-index:-1;/* displayed under work */
}
.triangle-r{border-color:transparent transparent transparent #fff;border-style:solid;border-width:15px;height:0px;width:0px;position:relative;left:350px;top:23px;z-index:-1;/* displayed under work */
}
.info{padding:60px 25px 35px 25px;height:235px;}
.info h2{font-size:20px;}
.info p{padding-top:10px;font-size:14px;line-height:22px;}
.info p a{color:#c4591e;text-decoration:none;}
.info p a:hover{text-decoration:underline;}
.work-slider{position:relative;z-index:11;}
