
@media only screen and (max-width:1150px){
	.mobile-display {
    display: block;
}
.fixed-body:before {
    opacity: 1;
    visibility: visible;
}
.nav-logo-bar {
    padding: 50px 0 12px;
}

.mobile-number {
    transition: all 0.7s ease-in-out 0s;
   
    font-size:22px;
    line-height: 27px;
    text-align: center;
    background:#00305a;
    z-index: 9999;
    padding: 5px 0;
    position: fixed;
    font-weight: 700;
    top: 0;
    display: block;
    width: 100%;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.19);
}
.mobile-number a {
    color: #fff;
    display: block;
}
.talk-btn {
    display: none;
}
	.top-header {
    display: none;
}
	header.header-wrapper{position:static;}

body{position:relative;left:0;transition:all 0.9s ease-in-out 0s;-webkit-transition:all 0.9s ease-in-out 0s;-moz-transition:all 0.9s ease-in-out 0s;-ms-transition:all 0.9s ease-in-out 0s;}

body:before{content:'';position:absolute;top:0;left:0;background-color:rgba(0, 0, 0, 0.549);height:100%;width:100%;opacity:0;transition:all 0.9s ease-in-out 0s;-webkit-transition:all 0.9s ease-in-out 0s;-moz-transition:all 0.9s ease-in-out 0s;-ms-transition:all 0.9s ease-in-out 0s;visibility:hidden;z-index:999;}

	.dropdown-toggle .dropdown-toggle, .icon-angle-down, .sticky-content,.toggle-icon{display:block;}
}
@media only screen and (max-width:1024px){
	.let-talk {
    display: none;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 30px;
}
.header-logo {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.navigation ul.menu > li {
    width: 100%;
    text-align: left;
    float: none;
    display: inline-block;
    border-bottom: 1px solid #14b199;
}
.navigation ul.menu > li > a {
    padding: 10px 20px;
}
.sticky-nav {
      background: #fff none repeat scroll 0 0;
      height: 100%;
      position: fixed;
      right: -100%;
      top: 35px;
      width: 100%;
      z-index: 1001;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      transition: all 0.9s ease-in-out 0s;
      -webkit-transition: all 0.9s ease-in-out 0s;
      -moz-transition: all 0.9s ease-in-out 0s;
      -ms-transition: all 0.9s ease-in-out 0s;
      padding: 0 30px;
}
.sticky-in{right: 0;width:  40%;    transition: all 0.9s ease-in-out 0s;
    -webkit-transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -ms-transition: all 0.9s ease-in-out 0s;}
.nav-logo-bar.toggle {
    overflow-y: hidden;
}
ul.menu  li  a {
    color: #00305a;
}

.toggle .sticky-nav {
    transform: translate(0);
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
}
.nav-toggle {
    display: block;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.nav-toggle i {
    width: 40px;
    height: 5px;
    background: #14b199;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
	-webkit-transform: translatey(-50%);
	-moz-transform: translatey(-50%);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.nav-toggle i.fa.fa-bars::before {
    height: 5px;
    background: #14b199;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
	content: "";
	 transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.nav-toggle i.fa.fa-bars::after {
    background: #14b199;
    left: 0;
    right: 0;
    bottom: 12px;
    position: absolute;
    content: "";
    height: 5px;
	 transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.toggle .nav-toggle i {
     background: transparent;
	 transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.toggle .nav-toggle i::after {
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    transform-origin: left bottom;
    transform: rotate(40deg);
}
.toggle .nav-toggle i::before {
     transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    transform-origin: left top;
    transform: rotate(-40deg);
}
.menu-mobile-logo a img {
    width: 170px;
	display: block;
}
a.nav-close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
	-webkit-transform: translatey(-50%);
	-moz-transform: translatey(-50%);
}
.fa-times:before {
    font-size: 30px;
	color: #00305a;
}
.nav-right-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
	-webkit-transform: translatey(-50%);
	-moz-transform: translatey(-50%);
}
.navigation .sub-menu::before {
    content: none;
}
ul.sub-menu {
    position: fixed;
    top: 125px;
    background: white;
    width: 330px;
    z-index: 9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-overflow-scrolling: touch;
    transition: all 0.9s ease-in-out 0s;
    -webkit-transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -ms-transition: all 0.9s ease-in-out 0s;
    bottom: 0;
    right:  -150%;
}
.navigation .menu .sub-menu li a {
    position: relative;
    color: #00305a;
    padding: 10px 20px;
	margin: 0;
}
.navigation .menu .sub-menu li i {
    position: relative;
    color: #00305a;
    padding: 10px 20px;
	margin: 0;
}
.navigation .menu .sub-menu li{
    color: #00305a;
}
.nav-sub-menu ul.sub-menu {
    -webkit-overflow-scrolling: touch;
    transition: all 0.9s ease-in-out 0s;
    -webkit-transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -ms-transition: all 0.9s ease-in-out 0s;
    right:  0;
    width:  40%;    padding: 0 30px;
}
.nav-close-icon i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translatey(-50%);
	-webkit-transform: translatey(-50%);
	-moz-transform: translatey(-50%);
}
.navigation .menu .sub-menu li a.nav-close-icon {
    padding: 10px 20px 10px 40px;
}

.nav-right-icon {
    display: block;
}
.navigation .sub-menu li.close-left-icon {
    display: block;
}
.dropdown-toggle, .icon-angle-down, .sticky-content {
    display: block;
}
.sticky-content {
    position: relative;
    padding: 10px 20px;
}
.hamburger-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translatey(-50%);
	-moz-transform: translatey(-50%);
	transform: translatey(-50%);
    height: auto;
}
.banner-title{font-size: 32px;
    line-height: 40px;}
	.banner-img {
    max-height: 570px;
    height: 570px;
}
.ft-call {
    font-size: 35px;
line-height: 40px;}
.copy-site p {
   
    font-size: 16px;
}
.site-intro br {
    display: none;
}
.site-intro p {
    font-size: 16.4px;
   
    line-height: 30px;
}
.box-inner img{    display: inline-block;vertical-align:top;}
 .mobile-view{display:block;font-weight: 600;    color: #fff;    font-size: 26px;}
 .ft-call strong{display:none;}
 
 .content-section p {
    padding: 0;
   
}
.sub-md-section {
    padding: 50px 0 0;
}
}


@media only screen and (max-width:960px){
	.sticky-in,.nav-sub-menu ul.sub-menu{    width: 60%;}
	.copy-site p {
    font-size: 18px;
    text-align: center;
}
	.title-primary{    font-size: 33px;}
	.banner-img {
    max-height: 500px;
    height: 500px;
}
.banner-title {
    font-size: 26px;
    line-height: 36px;
}

.service-cell {
    padding: 16px 0 85px;
}
.services-section:before,.services-section:after {
    
    top: auto;
    
    height: 55%;
    width: 100%;
   
    bottom: 0;
}
 
 .services-section{padding: 30px 0 80px;}
 .corporate-inner{    padding: 0;}
 .footer-section p{font-size: 17px;}
 .sidebar.contact-section .btn-hover {
    padding: 15px 10px;
    font-size: 17px;
}
	.slick-next {
    right:-22px;
}
.slick-prev {
    left: -22px;
}
.graphics-sidebar .btn-hover{font-size: 17px;    padding: 15px 25px;}
}
@media only screen and (max-width:767px){
	.sub-caption br{display:none;}
	.sub-caption{    font-size: 30px;line-height: 38px;}
.container-full {
    position: absolute;
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
    background-color: rgba(0, 48, 90,0.8);
    text-align: left;
    float: none;
    min-height: 250px;display: block;
}
.title-primary br {
    display: none;
}
.right-anchor {
    margin: 0 auto 30px;
    width: 28%;
}
.banner-overlay{top: 40%;}
.banner-title{    margin: 0 0 12px;}
	.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}
.ft-logo{text-align:center}
.ft-address {
    text-align: center;
}
.ft-title{text-align:center;}
	.sticky-in,.nav-sub-menu ul.sub-menu{    width: 100%;}
}
@media only screen and (max-width:480px){
	.right-anchor{    width: 50%;}
.sticky-nav {
    width: 100%;
}
ul.sub-menu {
    width: 100%;
}
}

